.container{
    height: 5rem;
    background: rgb(48,181,224);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search{
    color: white;
    margin-left: 2rem;
}
i{
    font-size: 1.2rem;
}
input{
    width: 30rem;
    background: none; 
    border: none;
    color: white;
    margin-left: 2rem;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 200;
}
input::placeholder{
    color: white;
}
input:focus{
    border-radius: 1rem;
    outline: none;
    border:1px solid rgb(255, 255, 255);
}
.image{
    height: 5.2rem;
}
.chevron{
    color: white;
    position: relative;
    top: -2rem;
    margin-left: 2rem;
    margin-right: 1rem;
}